html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	height: 32px;
	width: auto;
}

*,
html,
body {
	box-sizing: border-box;
	font-family: "Comfortaa", cursive;
}

.container {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template: max-content max-content auto / max-content 2fr 1fr;
	background-color: #6b7280;
}
/*================================*/
.sidebar {
	grid-area: 1 / 1 / 4 / 2;
	font-weight: bold;
	display: grid;
	justify-content: center;
	align-content: start;
	grid-gap: 5vh;
	background-color: #f9fafb;
	padding: 2vh 0px;
}

.side.top {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: left;
	grid-gap: 4vw;
	font-size: 1.5rem;
	padding: 0px 20px;
}

.side.top img {
	height: 48px;
	width: auto;
}

.side > div {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: left;
	grid-gap: 4vw;
	padding: 0px 20px;
}
/*================================*/

/*================================*/
#nav-top {
	grid-area: 1 / 2 / 2 / 4;
	display: grid;
	grid-auto-flow: column;
	justify-content: space-around;
	padding: 2vh 0px;
	background-color: white;
}

#nav-top > div {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 2vw;
	align-items: center;
}
#nav-top img {
	height: 1.5rem;
	width: auto;
}

#nav-top input {
	height: 1.5rem;
	width: 40vw;
	border: 1px #9ca3af solid;
	background-color: #9ca3af;
	border-radius: 1rem;
	padding: 0px 10px;
}

#nav-top-right #profile {
	border-radius: 1.5rem;
	height: 3rem;
}
#nav-top-right p {
	font-weight: bold;
}

#nav-bot {
	grid-area: 2 / 2 / 3 / 4;
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: space-around;
	background-color: white;
	padding: 1vh 0px;
	border-radius: 0rem 0rem 1rem 1rem;
}

#nav-bot-left {
	display: grid;
	grid-template: 1fr 1fr / 1fr 4fr;
	align-items: center;
	grid-column-gap: 2vw;
}

#small-text {
	font-size: 0.8rem;
}

#big-text {
	font-size: 1.5rem;
	font-weight: bold;
}

#nav-bot-left #big-profile {
	grid-area: 1 / 1 / 3 / 2;
	height: 4rem;
	border-radius: 2rem;
}

#nav-bot-right {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 2vw;
}

#nav-bot-right button {
	background-color: #111827;
	color: white;
	border: none;
	border-radius: 2rem;
	padding: 10px 20px;
}
/*================================*/

/*================================*/
.main {
	padding: 10px 20px;
}
#main-left {
	grid-area: 3 / 2 / 4 / 3;
	display: grid;
	grid-auto-flow: row;
	grid-template-rows: max-content auto;
	grid-row-gap: 20px;
	overflow: scroll;
}

.title {
	font-weight: bold;
	font-size: 1.2rem;
}

.cards {
	display: grid;
	grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-auto-rows: minmax(150px, 1fr);
	grid-auto-columns: minmax(150px, 1fr);
	grid-gap: 20px;
	overflow: scroll;
}

.card {
	background-color: #d1d5db;
	padding: 20px;
	border-radius: 1rem;
	display: grid;
	grid-template-rows: auto auto;
}

.text {
	overflow: scroll;
}

.card .buttons {
	justify-self: right;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 1vw;
	align-self: end;
}
.card .buttons img {
	height: 1rem;
}

.card p {
	font-weight: bold;
}

.small-title {
	font-size: 0.7rem;
	color: #6b7280;
}

#main-right {
	grid-area: 3 / 3 / 4 / 4;
	display: grid;
	overflow: scroll;
	grid-row-gap: 40px;
}
#main-right > div {
	display: grid;
	grid-row-gap: 20px;
	grid-auto-flow: row;
	grid-template-rows: max-content auto;
}

.announcements {
	background-color: #d1d5db;
	padding: 20px;
	border-radius: 1rem;
	display: grid;
	overflow: scroll;
}

.announcement {
	padding: 10px 0px 10px 0px;
	border-bottom: 1px #4b5563 solid;
	overflow: scroll;
}

.announcement:last-child {
	border-bottom: none;
}

.trends {
	background-color: #d1d5db;
	padding: 20px;
	border-radius: 1rem;
	display: grid;
	overflow: scroll;
}

.trend {
	padding: 10px 0px 10px 0px;
	display: grid;
	grid-template: 1fr 1fr / 1fr 5fr;
	grid-column-gap: 20px;
}

.trend img {
	grid-area: 1 / 1 / 3 / 2;
	border-radius: 1rem;
}

.trend span:nth-child(2) {
	font-weight: bold;
	font-size: 0.8rem;
}

.trend span:last-child {
	font-size: 0.6rem;
	color: #6b7280;
}

/*================================*/

@media all and (max-width: 850px) {
	.sidebar span {
		display: none;
		justify-content: left;
	}
	.sidebar .top img {
		height: 2rem;
	}

	#nav-bot-left {
		display: none;
	}
}

@media all and (max-width: 680px) {
	.container {
		grid-template: max-content max-content auto auto/ max-content 2fr;
	}
	.sidebar {
		grid-area: 1 / 1 / 5 / 2;
	}
	#main-left {
		grid-area: 3 / 2 / 4 / 3;
	}
	.cards {
		grid-auto-flow: column;
		grid-auto-columns: minmax(150px, 200px);
		grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
	}
	.card .buttons img {
		height: 2rem;
	}
	#main-right {
		grid-area: 4 / 2 / 5 / 3;
	}
	.announcements {
		grid-auto-flow: column;
		grid-auto-columns: minmax(150px, 200px);
		grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
	}
	.announcement {
		padding: 0px 10px 0px 10px;
		border-bottom: none;
		border-right: 1px #4b5563 solid;
	}
	.announcement:last-child {
		border-right: none;
	}
	.trends {
		grid-auto-flow: column;
		grid-auto-columns: minmax(150px, 200px);
		grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
	}
}
